body{
    background: rgb(255, 255, 255);
}
.navbar{
    border-radius: 0;
    background-color: rgb(40, 8, 223);
    height: 60px;
}
.navbar-brand{
    font-family: 'Monospace', cursive;
    
}


  /* notification */
.notification{
    width: 200px;
    padding: 20px;
    position: fixed;
    left: 50%;
    margin-left: -120px;
    top: 0;
    border-radius: 0 0 5px 5px;
    background: #ec2d2d;
    text-align: center;
    color: #fff;
    margin-top: -100%;
    transition: all 0.4s;
    animation: fadeOut 5s linear forwards;
  }
.notification.active{
    margin-top: 0;
  }

@keyframes fadeOut {
	0% 	{ opacity: 0; }
	10% { opacity: 1; }
	90% { opacity: 1; transform: translateY(0px);}
	99% { opacity: 0; transform: translateY(-30px);}
	100% { opacity: 0; }
}

img.profile_image {
    display: block;
    margin: 0 auto;
}

.profile_name{
    text-align: center;
    size: 15px;
}

.screen_name{
    text-align: center;
    size: 15px;
}

.add_to_track{
    float: inline-end;
}

.leftside{
    margin-left: 100px;
    font-size: 25px;
    /* font-style: oblique; */
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(157, 159, 161);
    border: rgb(24, 24, 24);
    box-shadow: 0px 0px 8px rgba(51, 162, 182, 0.938);
}

.rightside{
    margin-right: 100px;
    font-size: 25px;
    /* font-style: oblique; */
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(157, 159, 161);
    border: rgb(24, 24, 24);
    box-shadow: 0px 0px 8px rgba(51, 162, 182, 0.938);
}

.tweet_text{
    /* border: 1px solid; */
    /* border-color: black; */
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 8px rgba(126, 127, 128, 0.938);
}
