<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial Requests</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'twitter/style2.css' %}"/>
  </head>
<body>

<!-- auth modals -->
<div class="auth open">
    <div class="modal active">
      <h2>Login to Your hatErase account!!</h2>
      <form class="login" role="form" action="{% url 'twitter:login' %}" method="post">
        {% csrf_token %}
        <input id="id_username" name="username" type="text" placeholder="username" required>
        <input id="id_password" maxlength="30" name="password" type="password" placeholder="password" required>
        <button type="submit">Login</button>
        <p class="error"></p>
      </form>
      <div>No account? <a class="switch">Register instead</a></div>
    </div>
    <div class="modal">
      <h2>Register</h2>
      <form class="register" role="form" action="{% url 'twitter:register' %}" method="post">
        {% csrf_token %}
        <input id="id_username" name="username" type="text" placeholder="username" required>
        <input id="id_email" type="text" name="email" placeholder="Email" required>
        <input id="id_password" name="password" type="password" placeholder="password" required>
        <button type="submit">Register</button>
        <p class="error"></p>
      </form>
      <div>Got an account? <a class="switch">Login instead</a></div>
    </div>
  </div>
  {% load static %}
  <script src="{% static 'twitter/jquery.js' %}"></script>
</body>
</html>