{% extends 'twitter/index_check.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center">List of Tracked Handlers</h3><br><br>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div class="notification active" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% if object_list %}
            {% for user in object_list %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'twitter:detail' pk=user.pk %}">
                            <img src="{{ user.url_image }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h4 class="text-center">{{ user.name }}</h4>
                            <h5 class="text-center">@{{ user.twitter_handle }}</h5>

                            <!-- View Details -->
                                <a href="{% url 'twitter:detail' pk=user.pk %}" class="btn btn-primary btn-sm" role="button">Details</a>&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
                            <!-- Delete handler
                            <div class="text-right">-->
                                <a href="{% url 'twitter:delete-track' pk=user.twitter_handle.pk %}" class="btn btn-danger btn-sm" role="button">Delete</a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}