{% extends 'twitter/base.html' %}
{% block title %}Search{% endblock %}
{% block head %}
    

{% endblock %}
{% block body %}
    <img class="profile_image" src="{{ data.profile_image }}" alt="Trulli">
    <h3 class="screen_name">{{ data.screen_name }}</h3>
    <h2 class="profile_name">{{ data.name }}</h2>
    <span class="add_to_track">
        <button>
        <a href="{% url 'twitter:add_track' screen_name=data.screen_name %}">Add to Track</a>
    </button>
    </span>
    
    <br><br><br>
    <div class="row">
        <span class="leftside" style="float:left;">Tweets</span>
        <span class="rightside" style="float:right;">Hate Percentage</span>
    </div>
    <br>
    {% for tweet in data.tweets %} 
    <div class="tweet_text">
    <h4 >{{ tweet.full_text }}</h4>
    </div> 
    <br>
    {% endfor %}
    {% if object_list %}
        <h3>{{ object_list }}</h3>
    {% endif %}
    <!-- {% if object_list %}
        <ul>
            {% for admin in object_list %}
                <li><a href="{% url 'twitter:detail' admin.id %}">{{ admin.twitter_handle }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>You dont have any admin</h3>
    {% endif %} -->
{% endblock %}